<h1>Welcome to Word Search</h1>
<form action="/results">
  <div class="form-group">
    <label for="sentence">Please enter a long sentence or paragraph! (You can copy and paste it.)</label>
    <input id="sentence" name="sentence" class="form-control" type="text">
    <label for="word">Now enter a word. I will search your text and let you know if that word is included (true or false). What word would you like me to check?</label>
    <input id="word" name="word" class="form-control" type="text">
  </div>
  <button type="submit" class="btn-success">submit</button>
</form>
